<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Add Pasien </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<h3> Tambah Pengajuan Surat </h3>
<br>
<form th:action="@{/surat/add}" class = "form-group" th:object="${surat}" method="POST" style="width:50%">
    <input type="hidden" name="idPengajuanSurat" />
    Jenis Surat
        <select id = "jenisSurat" th:field="*{jenisSurat}" class="form-control" name="jenisSurat">
            <option th:each="jenis : ${listJenisSurat}"
                    th:value ="${jenis.idJenisSurat}"
                    th:text="${jenis.nama}"></option>
        </select>
    <br>
    Keterangan
    <input type="text" id="keterangan" name="keterangan" class="form-control"/>
    <br>

    <button type="submit" class="btn btn-primary" name="submit"> Submit </button>
</form>
</body>
</html>