<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<title> View All Jenis Surat </title>

</head>

<body>

<div class="containter-fluid">
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Keterangan</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody th:each="pengajuan, iterationStatus : ${pengajuan_list}">
        <tr>
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${pengajuan.nama}"></td>
            <td th:text="${jenisSurat.Keterangan}"></td>
            <td>
            <form th:action="@{/jenisSurat/delete/} + ${jenisSurat.idJenisSurat}" th:method="GET">
                <button class="btn btn-danger text-white"value="submit">Hapus</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>